.wrap {
  background: linear-gradient(to right, rgba(199, 236, 238, 0.2), rgba(243, 166, 131, 0.2), rgba(116, 185, 255, 0.2), rgba(162, 155, 254, 0.2));
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  height: 100vh ;

  .form {
    padding: 48px;
    width: 80%;
    max-width: 560px;
    margin: auto;

    .submit {
      width: calc(50% - 8px);
    }

    .title {
      margin-top: -60px;
    }

    .btns {
      display: flex;
      gap: 16px;
      width: 100%;
    }
  }
}
